<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" 
    xmlns:atom="http://www.w3.org/2005/Atom" 
    xmlns:dc="http://purl.org/dc/elements/1.1/">
    <channel>
        <title>{{.Title}}</title>
        <link>https://feedit.news</link>
        <description>convert newsletter to rss feed</description>
        <pubDate>{{.Updated}}</pubDate>
        <language>en</language>
        {{range .Entries}}
        <item>
            <title>{{.Title}}</title>
            <link>{{.ID}}</link>
            <guid isPermaLink="false">{{.ID}}</guid>
            <pubDate>{{.PublishDate}}</pubDate>
            <description>{{.Summary}}</description>
        </item>
        {{end}}

    </channel>
</rss>